* {
    margin: 0;
    padding: 0;
}

#screen {
    width: 500px;
    height: 500px;
    border: 1px solid;
    margin: auto auto;
}

#panel-screen {
    margin-top: 3rem;
    text-align: center;
}

#panel-screen #resume{
    text-align: center;
}